---
title: medline geo
component: ContentPage
---

div.row
  div.jumbotron.col-xs-offset-2
    h2 Geo localizing Medline citations
    div.
      When and where are the scientific publications coming from? Which country are collaborating the most?
      To investigate those questions, we focused on Medline, the major biology and biomedical peer reviewed citations repository.
    div All details on method and source code can be found #[a(href='http://blog.octo.com/QQQ') here].

    h3  Browse the data!
    div.row
      div.col-sm-4
        h4
          a(href='/hexamap') per location
        img(src='/images/snapshot-per-location.png', style={width: '100%'})
      div.col-sm-4
        h4
          a(href='/country') per country
        img(src='/images/snapshot-per-country.png', style={width: '100%'})
      div.col-sm-4
        h4
          a(href='/country-pairs') collaborations
        img(src='/images/snapshot-per-country-collaboration.png', style={width: '100%'})

